.header-container {
    background-color: var(--Background-Ivory_, #FFFEF8);
    width: 1486px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 217px;
}



.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    cursor: pointer;
    width: 32.021px;
    height: 35.662px;
    flex-shrink: 0;
}

.logo_letter {
    cursor: pointer;
    color: #000;
    font-family: Gowun Dodum;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
}

.link_to {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.letter-frame{
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
}

.MyLetterbox {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AddressBook {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RomanticLetterbox {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Store {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.my_page {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}